<table id = "CountryAssignmentsTable" class = "table table-striped table-bordered">
    <thead>
    <tr>
        <th>Country</th>
        {{ range .Site.Params.variables.committee_short }}
        <th> {{ . }} </th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
        {{ range $record := .Page.Site.Data.CountryAssignments }}
        <tr>
            {{ range $col, $value := $record }}
                <td> {{ $value }} </td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>